# Project exclude paths
/.gradle/
/build
*.iml
/local.properties
/.idea
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/main/**/out/
!**/src/test/**/out/